@font-face {
    font-family: test1;
    src: url('../fonts/fa-v4compatibility.woff2');
}

*{

    padding: 0;
    margin: 0;
}

body{
    height: 1000px;
}

.navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: white;
    padding: 0px 35px;
    height: 55px;
    margin: 0 50px;
}

.navbar .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links div{
    padding: 0 20px;
}

#m1{
    color: #36353568;
    font-weight: bold;
    text-decoration: none;

}

#m1:hover{
    color: #777;

}

.search{
    color: #777;
}

.menu{
    display: flex;
    align-items: center;

}

.menu a{
    text-decoration: none;
    color: black;
}

.hero{
    background-image: linear-gradient(rgba(7,7,7,0.601),transparent), url(image.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 70px;
}

.btn1{
    background-color: white;
    border: 0;
    height: 58px;
    width: 280px;
}

.btn2{
    border: 1px solid white;
    background-color: transparent;
    height: 58px;
    width: 320px;
    color: white;
}

.btn1:hover{
    background-color: rgb(180, 180, 180);
}

.para{
    width: 550px;
    padding-bottom: 30px;
}

.allmodels{
    display: flex;
}

.car{
    transition: 1s;
}

.car p{
    text-align: center;
}

.car:hover{
    text-decoration: underline;
}

.car img{
    height: 126px;
    width: 280px;
    transition: 0.3s;
}

.car img:hover{
    transform: scale(1.07);
}

.virtualshowroom{
    display: flex;
    align-items: center;
    padding: 50px 0px 50px 120px;
}

.headi p{
    font-size: 50px;
    width: 280px;
    font-family: test1;
}

.btnn{
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 250px;
}

.electric{
    background-image: url(https://www.audi.in/content/dam/nemo/in/3_O-Homepage/E-tronHub-3840X4000.jpg?imwidth=1920);
    background-position: center;
    height: 190vh;
}

.box{
    background-color: white;
    position: absolute;
    width: 774px;
    height: 335px;
    margin: 180px 180px 0px 50px;
}

.box h1{
    font-size: 32px;
    padding: 25px;
}

.box p{
    font-size: 20px;
    padding: 25px;
}
